<section class="down-main">
  <div class="bet">
    <h3 class="bet__title" data-lang-key="betTitle">Выбрать тип ставки</h3>
    <div class="bal-inv">
      <button class="bal-inv__btn bal-inv__btn--balance active" type="button" data-lang-key="betTypeBalance">
        <img
          src="web/images/balance/balance-icon.svg"
          alt="balance"
          class="bal-inv__icon"
        />
        Баланс
      </button>
      <button class="bal-inv__btn bal-inv__btn--inventory" type="button" data-lang-key="betTypeInventory">
        <img src="web/images/inventory/inventory-icon.svg" alt="inventory" class="bal-inv__icon"
        />
        Инвентарь
      </button>
    </div>
    <div class="select-bet">
      <div class="select-bet__field">
        <div class="select-bet__pages">
          <div class="select-bet-count">
            <button class="select-bet-count__btn" type="button" id="plus">
              <img
                src="web/images/balance/balance-plus-icon.svg"
                alt="plus-icon"
                class="select-bet-count__icon select-bet-count__icon--plus"
              />
            </button>
            <div class="select-bet-count__number">0</div>
            <button class="select-bet-count__btn" type="button" id="minus">
              <img
                src="web/images/balance/balance-minus-icon.svg"
                alt="minuse-icon"
                class="select-bet-count__icon select-bet-count__icon--minus"
              />
            </button>
          </div>
          <div class="select-bet-change">
            <button class="select-bet-change__btn" type="button">1</button
            ><button class="select-bet-change__btn" type="button">5</button
            ><button class="select-bet-change__btn" type="button">10</button
            ><button class="select-bet-change__btn" type="button">20</button
            ><button class="select-bet-change__btn" type="button">50</button>
          </div>
        </div>
        <button class="select-bet__btn" data-lang-key="placeBetButton">Ставить</button>
      </div>
    </div>
    <div class="select-bet">
      <div class="select-bet__field">
        <div class="select-bet__pages">
          <div class="select-bet-count">
            <button class="select-bet-count__btn" type="button" id="plus-2"> 
              <img
                src="web/images/balance/balance-plus-icon.svg"
                alt="plus-icon"
                class="select-bet-count__icon select-bet-count__icon--plus"
              />
            </button>
            <div class="select-bet-count__number">0</div>
            <button class="select-bet-count__btn" type="button" id="minus-2"> 
              <img
                src="web/images/balance/balance-minus-icon.svg"
                alt="minuse-icon"
                class="select-bet-count__icon select-bet-count__icon--minus"
              />
            </button>
          </div>
          <div class="select-bet-change">
            <button class="select-bet-change__btn" type="button">1</button
            ><button class="select-bet-change__btn" type="button">5</button
            ><button class="select-bet-change__btn" type="button">10</button
            ><button class="select-bet-change__btn" type="button">20</button
            ><button class="select-bet-change__btn" type="button">50</button>
          </div>
        </div>
        <button class="select-bet__btn" data-lang-key="placeBetButton">Ставить</button>
      </div>
    </div>
  </div>
  <div class="bet-count">

    <h3 class="bet-count__title" data-lang-key="totalBetsTitle">Всего ставок: 0</h3>
    <div class="swiper bet-count__swiper">
      <ul class="swiper-wrapper bet-count-list">
        <li class="swiper-slide bet-count-list__item">
          <div class="bet-count-list__profile">
            <img src="#" alt="user-avatar" class="bet-count-list__avatar" />
            <h3 class="bet-count-list__username">Yasha Lava</h3>
          </div>
          <div class="bet-count-list__number">10</div>
        </li>
      </ul>
    </div>
  </div>
</section>