<section class="giveaway">
  <!-- <p class="giveaway-title" data-lang-key="giveawayTitle">Giveaway</p>
  <div class="giveaway-wrapper">
    <div class="giveaway-wrapper-block__icon">
      <img src="web/images/giveaway/giveaway-bottle.svg" class="bottle-giveaway" alt="bottle">
      <img src="web/images/giveaway/giveaway-bottle.svg" alt="bottle">
      <img src="web/images/giveaway/giveaway-bottle.svg" class="bottle-giveaway" alt="bottle">
    </div>
    <div class="flex">
      <div class="giveaway-wrapper__paragraph">
        <p class="giveaway-wrapper-paragraph__sub" data-lang-key="giveawaySubscriptionContest">Subscription Contest</p>
        <p class="giveaway-wrapper-paragraph__potions" data-lang-key="giveawayMagicPotions">Magic potions </p>
        <p class="giveaway-wrapper-paragraph__conditions" data-lang-key="giveawayConditions">Conditions</p>
      </div>
      <div class="giveaway-right__paragrpah">
        <p class="giveaway-right-paragraph__days" data-lang-key="giveawayTimeLeftPlaceholder">7 days 01:18</p>
        <div class="flex wrapper-block-giveaway">
          <img src="web/images/inventory/ton.svg" alt="ton" class="giveaway-right-paragraph__icon" width="15"
            height="15">
          <p class="giveaway-right-paragraph__number">5</p>
        </div>

        <p class="giveaway-right-paragraph__mail" data-lang-key="giveawaySubscribePrefix">Subscribe:<span
            class="giveaway-right-paragraph-mail__span">@nftgo</span></p>
      </div>
    </div>
    <div class="giveaway-line"></div>
    <div class="giveaway-wrapper__down flex">
      <p class="giveaway-wrapper-down__participants" data-lang-key="giveawayParticipants">Participants</p>
      <div class="giveaway-wrapper-down__block flex">
        <img src="web/images/giveaway/participants-icon.svg" alt="participants" width="15" height="15">
        <p class="giveaway-wrapper-down-block_paragraph">5048</p>
      </div>
    </div>
    <button class="giveaway-button" data-lang-key="giveawayParticipateButton" onclick="window.open('https://t.me/NFTgo777', '_blank')">Participate</button>
    <p class="giveaway-last-paragraph" data-lang-key="giveawayLastWinners">Last winners</p>
  </div> -->
  <!-- <div class="inventory-wrap">
    <div class="inventory-item">
      <div class="inventory-item__wrapper flex">
        <span class="inventory-item__wrapper-span">10</span>
        <img src="web/images/inventory/ton.svg" alt="ton" class="inventory-item__wrapper-icon" />
      </div>
      <img src="web/images/giveaway/gift/0.png" alt="31312" class="inventory-item__img">
      <span class="inventory-item__name">frfrfr</span>
      <div class="inventory-item__marketplace">
        <div class="inventory-item__cashout">
          <img src="web/images/inventory/download.svg" alt="download">
        </div>
        <div class="inventory-item__sell">
          <img src="web/images/inventory/basket.svg" alt="basket">
        </div>
      </div>
    </div>
  </div> -->
</section>