<div class="wrapper">
  <div class="container">
    <div class="inventory">
        <h2 class="inventory__title" data-lang-key="betTitle">Выбрать тип ставки</h2>  

    <div class="inventory-buttons">
      <button class="inventory-buttons__balance" type="button" data-lang-key="betTypeBalance">Баланс</button>
      <button class="inventory-buttons__inventory show" type="button" data-lang-key="betTypeInventory">Инвентарь</button>
    </div>

    <div class="inventory-skins">
      <h2 class="inventory-skins__title" data-lang-key="inventorySkinsTitle">Выбрать скины</h2>

      <div class="inventory-skins-items">
        <div class="inventory-skins-items-card">
          <div class="current">
            <span class="inventory-skins-items-card__current">10</span>
            <img src="web/images/inventory/ton.svg" alt="ton" class="inventory-bid-cardsBided-card__img">
          </div>
          <img src="web/images/inventory/potion-skin.svg" alt="potion skin" class="inventory-skins-items-card__img">
          <h3 class="inventory-skins-items-card__title">Potion</h3>
        </div>
         <div class="inventory-skins-items-card">
          <div class="current">
            <span class="inventory-skins-items-card__current">10</span>
            <img src="web/images/inventory/ton.svg" alt="ton" class="inventory-bid-cardsBided-card__img">
          </div>
          <img src="web/images/inventory/potion-skin.svg" alt="potion skin" class="inventory-skins-items-card__img">
          <h3 class="inventory-skins-items-card__title">Potion</h3>
        </div>
         <div class="inventory-skins-items-card">
          <div class="current">
            <span class="inventory-skins-items-card__current">10</span>
            <img src="web/images/inventory/ton.svg" alt="ton" class="inventory-bid-cardsBided-card__img">
          </div>
          <img src="web/images/inventory/potion-skin.svg" alt="potion skin" class="inventory-skins-items-card__img">
          <h3 class="inventory-skins-items-card__title">Potion</h3>
        </div>

        <div class="inventory-skins-items-added">
            <div class="inventory-skins-items-added-card">
                <img src="web/images/inventory/added.svg" alt="add-item" class="inventory-skins-items-added-card__img">
                <h3 class="inventory-skins-items-added-card__title" data-lang-key="inventoryBuyGift">купить подарок</h3>
            </div>
            <div class="inventory-skins-items-added-card">
                <img src="web/images/inventory/added.svg" alt="add-item" class="inventory-skins-items-added-card__img">
                <h3 class="inventory-skins-items-added-card__title" data-lang-key="inventoryBuyGift">купить подарок</h3>
            </div>
            <div class="inventory-skins-items-added-card">
                <img src="web/images/inventory/added.svg" alt="add-item" class="inventory-skins-items-added-card__img">
                <h3 class="inventory-skins-items-added-card__title" data-lang-key="inventoryBuyGift">купить подарок</h3>
            </div>
        </div>
      </div>

      <div class="inventory-bid">
        <h2 class="inventory-bid__title" data-lang-key="totalBetsPrefix">Всего ставок: <span class="inventory-bid__title-num">0</span></h2>

        <div class="inventory-bid-cardsBided">
            <div class="inventory-bid-cardsBided-card">
                <img src="web/images/inventory/ton.svg" alt="ton" class="inventory-bid-cardsBided-card__img">
                <h3 class="inventory-bid-cardsBided-card__title">Yasha Lava</h3>
                <span class="inventory-bid-cardsBided-card__current">0</span>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>