<section class="main-rocket">
  <div class="main-line"></div>
  <div class="main-rocket__container flex">
    <div class="main-news flex">
      <p class="main-news__title" data-lang-key="newsTitle">Check our news</p>
      <a class="main-news__button" data-lang-key="newsButtonOpen" href="https://t.me/NFTgo777" target="_blank">Open</a>
    </div>
    <div class="main-network__status online-counter flex">
      <img src="web/images/main/wifi-icon.svg" alt="WiFi" class="main-network-status__icon" />
      <span class="main-network-status__span" id="onlineCount"></span>
    </div>
  </div>
  <div id="history-slider">
    <div id="history-track"></div>
  </div>
  <div class="main-line-down"></div>
  <div class="main-block-rocket">
    <div class="rocket-content">
      <img src="web/images/giveaway/frog-logo.svg" alt="rocket" class="main-block-rocket__icon" />
      <p class="main-block-rocket__text" data-lang-html-key="rocketStatusText">
        <span class="main-block-rocket-text__span">ОЖИДАНИЕ</span><br />
        СЛЕДУЮЩЕГО РАУНДА
      </p>
      <div class="progress-container flex">
        <div class="progress-bar"></div>
      </div>
    </div>

    <div class="main-frog">
      <div class="main-frog__wrapper">
        <div class="main-frog-wrapper__container">
          <div class="bar coef"><span id="coefficient"></span></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar">
            <div class="line">
              <img src="web/images/run-unscreen.gif" class="main-frog-wrapper-container__icon" alt="run-unscreen"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>