<div class="icon-navigation-bar">
  <button class="nav-item" id="top">
    <img src="web/images/nav-bar/top-icon.svg" alt="Top" class="nav-icon" />
    <span class="nav-text" data-lang-key="navTop">Top</span>
  </button>
  <button class="nav-item" id="bonus">
    <img src="web/images/nav-bar/bonus-icon.svg" alt="Bonus" class="nav-icon" />
    <span class="nav-text" data-lang-key="navBonus">Bonus</span>
  </button>
  <button class="nav-item active-item" id="frog">
    <img src="web/images/nav-bar/frog-icon.svg" class="frog" alt="frog-icon"/>
    <span class="nav-text" data-lang-key="navPlay">Play</span>
  </button>
  <button class="nav-item" id="profile">
    <img
      src="web/images/nav-bar/profile-icon.svg"
      alt="Profile"
      class="nav-icon"
    />
    <span class="nav-text" data-lang-key="navProfile">Profile</span>
  </button>
  <button class="nav-item" id="gifts">
    <img src="web/images/nav-bar/give-away.svg" alt="Gifts" class="nav-icon" />
    <span class="nav-text" data-lang-key="navGifts">Gifts</span>
  </button>
</div>