<div class="promo-backdrop is-hidden">
  <div class="promo-modal">
    <button class="promo-modal__btn-close">
        <img src="web/images/buy-gift/close-icon.svg" alt="close icon">
    </button>
    <h3 class="promo-modal__title" data-lang-key="promoModalTitle">Enter promotional code</h3>
    <input
      type="text"
      data-lang-placeholder-key="promoModalInputPlaceholder"
      placeholder="Enter promo-code..."
      class="promo-modal__input"
    />
    <button type="button" class="promo-modal__btn" id="promoModalSearchPromocode" data-lang-key="promoModalConfirmButton">Confirm</button>
    <img src="web/images/NFTgo-logo-icon.svg" alt="NFTgo-logo-icon" class="promo-modal__logo">
  </div>
</div>