.main-frog {
  z-index: 1;
  height: 2px;
  margin: -10px -7px;
  max-width: 440px;
  width: 100%;
}

.main-frog-wrapper__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 10px;
  margin-top: 12px;
}

.main-frog__wrapper {
  max-width: 440px;
  display: flex;
  gap: 15px;
  z-index: -10;
  overflow: hidden;
}

.bar {
  width: 375px;
  height: 4px;
  background-color: rgb(150, 149, 149);
  opacity: 0;
  transform: translateY(10px);
  filter: brightness(1);
  border-radius: 1px;
}


.coef {
  margin-bottom: 7px;
}

#coefficient {
  position: absolute;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
  z-index: 10;
}

.line {
  position: absolute;
  height: 100%;
  width: 0%;
  background-image: linear-gradient(135deg, #6a0dad, #b366ff);
  transform-origin: left center;
  transition:
    width 0.3s linear,
    transform 0.3s linear;
  z-index: 1;
}

.line.lift-up {
  transform: rotate(-50deg);
}

.main-frog-wrapper-container__icon {
  position: absolute;
  height: 190px;
  width: 170px;
  left: 0;
  bottom: 0px;
  transform: translateX(-50%) scale(0.7);
  transition: left 0.2s linear, transform 0.2s ease;
  will-change: transform;
  z-index: 2;
  transform-origin: center bottom;
  display: none;
  margin-left: -150px;
}

.crash-glow {
  color: #ff0000;
  text-shadow:
    0 0 8px #ff0000,
    0 0 15px #ff0000,
    0 0 20px #ff0000,
    0 0 30px #ff0000,
    0 0 40px #ff0000;
  transition: all 0.5s ease;
}

