.giveaway {
  padding: 29px 20px;
  margin: 0 auto;
  max-width: 409px;
  width: 100%;
  display: none;
}

.giveaway-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: 30px;
}

.giveaway-wrapper {
  width: 400px;
  height: 426px;
  background-color: rgba(35, 28, 70, 1);
  border-radius: 10px;
  margin-left: -20px;
   padding-top: 20px;
}

.giveaway-wrapper-block__icon {
  display: flex;
  align-items: baseline;
  width: 366px;
  height: 170px;
  margin-left: 17px;
  border-radius: 20px;
  background: linear-gradient(213.72deg, rgba(97, 0, 255, 0.5) 20.44%, rgba(179, 132, 255, 0.5) 96.63%);
  
}

#bottle-giveaway {
  margin-top: 24px;
}

.giveaway-wrapper-block__icon img {
  width: 110px;
}

.giveaway-wrapper__paragraph {
  margin-left: 17px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.giveaway-wrapper-paragraph__sub {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(90deg, #F8F3FF 0%, #09E6FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.giveaway-wrapper-paragraph__potions {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
.giveaway-wrapper-paragraph__conditions{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(214, 214, 214, 1);
}
.giveaway-right-paragraph__days{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  margin-left: 33px;
}
.giveaway-right__paragrpah{
  display: flex;
  flex-direction: column;
   margin-left: 60px;
  margin-top: 18px;
}
.wrapper-block-giveaway{
  margin-left: 100px;
  gap: 5px;
  margin-top: 5px;
}
.giveaway-right-paragraph__number{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
.giveaway-right-paragraph__mail{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(214, 214, 214, 1);
  margin-left: -20px;
  margin-top: 5px;
}
.giveaway-right-paragraph-mail__span{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #6A0DAD;
}
.giveaway-line{
  border: 1px solid rgba(136, 69, 245, 0.2);
  width: 368px;
  margin: 11px auto;
}
.giveaway-wrapper-down__participants{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
.giveaway-wrapper__down{
  margin-top: 10px;
  margin-left: 17px;
  gap: 225px;
}
.giveaway-wrapper-down-block_paragraph{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
.giveaway-wrapper-down__block{
  gap: 5px;
}
.giveaway-button{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, #8845F5 42.65%, #4F288F 100%);
  width: 368px;
  height: 38px;
  margin-top: 17px;
  margin-left: 17px;
  border-radius: 10px;
}
.giveaway-last-paragraph{
  margin-top: 17px;
  text-align: center;
   font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(192, 192, 192, 1);
}

@media (min-width: 380px) {
  .giveaway-wrapper {
    width: 362px;
    margin-left: -12px;
  }

  .giveaway-wrapper-block__icon {
    width: 329px;
  }
  .giveaway-right__paragrpah {
    margin-left: 27px;
  }
  .giveaway-wrapper-down__block {
    margin-left: -40px;
  }
  .giveaway-button {
    width: 329px;
  }
  .giveaway-line {
    width: 329px;
  }
}

@media (min-width: 400px) {
  .giveaway-wrapper {
    width: 372px;
    margin-left: -6px;
  }

  .giveaway-wrapper-block__icon {
    width: 339px;
  }

  .giveaway-wrapper-block__icon img {
    width: 113px;
  }
  .giveaway-right__paragrpah {
    margin-left: 36px;
  }
  .giveaway-wrapper-down__block {
    margin-left: -30px;
  }
  .giveaway-button {
    width: 339px;
  }
  .giveaway-line {
    width: 341px;
  }
}

