.user-page-inv__btn--admin {
  margin-top: 10px;
  display: none;
}
.admin {
  margin: 0 auto;
  padding: 20px 0 0;
  display: none;
}
.admin__container {
  background-color: #231c46;
  padding: 10px;
  border-radius: 20px;
  max-width: 409px;
  margin: 0 auto;
}
.admin__label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 100%;
  color: #fff;
}
.admin__input {
  width: 100%;
  background-color: transparent;
  border: 2px solid rgba(152, 78, 237, 0.5);
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
}
.admin__input:focus {
  outline: none;
}
.admin__btn {
  max-width: 197px;
  width: 100%;
  border-radius: 10px;
  padding: 9px 15px;
  background-image: linear-gradient(
    25deg,
    rgba(97, 0, 255, 0.8) 0%,
    rgba(179, 132, 255, 0.8) 100%
  );
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #dfdfdf;
  transition: color 250ms ease-in-out;
  margin-bottom: 15px;
}
.admin__btn--search {
  margin: 0 auto 15px;
  max-width: 100%;
}
.admin-add {
  border-bottom: 4px solid rgba(136, 69, 245, 0.2);
}
.admin-promo {
  padding-top: 15px;
}
.admin-balance {
  padding-top: 15px;
  border-top: 4px solid rgba(136, 69, 245, 0.2);
}
.admin-promo__input--add {
  margin-bottom: 10px;
}
.admin-promo-list {
  height: 100px;
}
.admin-promo-list__card {
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 7px;
  background-color: #262352;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  color: #fff;
}
.admin-promo-list__strong {
  color: #8845f5;
}
